{% extends 'partial/base.html' %}
{% load static %}
{% block content %}
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>About Us</h1>
                        <p class="mb-4" style="" >Our passion for furniture has been guiding our craft for years. Each piece is the result of thorough reflection,
                            solid craftsmanship, and meticulous attention to detail. We have gathered the ideal conditions to offer you quality products:
                            qualified staff, modern machinery, rigorous quality control, and impeccable after-sales service. Your satisfaction is our utmost
                            priority. As partners, we offer you a wide range of domestic furniture tailored to your needs and budget: bedrooms, living rooms, 
                            sofas, chairs, tables, and much more. Our five local factories reflect our commitment to our community and country. Join us to be 
                            part of this chain of quality and excellence.
                        </p>		
                    </div>
                </div>
                <div class="col-lg-7">

                    <div class="hero-img-wrap">
						<img src="{% static 'assets/images/magasin.jpg' %}" class="img-fluid" style="height: 400px; width: 400px; left: 180px;
						top: 20px;border-radius: 60%">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Hero Section -->

   

    <!-- Start Testimonial Slider -->
		<div class="testimonial-section before-footer-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Why shop for furniture online at L'Univers du Meuble?</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>L'Univers du Meuble now offers the opportunity to purchase furniture online, in addition to our attractive physical stores.</p>
												</blockquote>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>We aim to maintain a balance between sellers and buyers through our e-commerce website.</p>
												</blockquote>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>Browsing our website provides a pleasant and enjoyable experience</p>
												</blockquote>

												
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->
                                <div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>You can shop comfortably from home, directly from your sofa in front of the television.</p>
												</blockquote>
											</div>

										</div>
									</div>
								</div> 

                                <div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>This site allows you to shop with peace of mind, without worrying about transportation and travel constraints.</p>
												</blockquote>
											</div>

										</div>
									</div>
								</div> 
                                <div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>A wide range of furniture and decorative items are available on our site, offering all the items available in our physical stores.</p>
												</blockquote>
											</div>

										</div>
									</div>
								</div> 

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

    <!-- End Team Section -->

    <!-- Testimonial Section -->

    <!-- Footer Section -->

{% endblock content %}
